@use './variables' as v;

button.btn-1,
a.btn-1 {
    font: 1rem 'Poppins', sans-serif;
    line-height: 23px;
    padding: .5em 1em;
    border-radius: v.$border-r-regular;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    background-color: v.$primary-item;
    border: none;
}

button.btn-2, 
a.btn-2 {
    font: 1rem 'Poppins', sans-serif;
    line-height: 23px;
    padding: .5em 1em;
    border-radius: v.$border-r-regular;
    text-decoration: none;
    cursor: pointer;
    color: v.$title-color;
    font-weight: 300;
    border: 1px solid v.$primary-item;
    background-color: transparent;
}