@forward './class';
@use './variables' as v;

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    color: v.$p-color;
    overflow-x: hidden;
}

h1 {
    font-size: v.$xxl;
    list-style: 1.35;
    color: v.$title-color;
    font-weight: 600;
}

h2 {
    font-size: v.$xl;
    list-style: 1.35;
    color: v.$h2-color;
    font-weight: 600;
}

h3 {
    font-size: v.$m;
    list-style: 1.35;
    color: v.$title-color;
    font-weight: 500;
    &.light {
        font-weight: 300;
    }
}

p {
    font-size: v.$regular;
    list-style: 1.6;
    &.light {
        font-weight: 200;
    }
}

a {
    text-decoration: none;
    color: v.$p-color;
    cursor: pointer;
}