@forward './class';
@use './variables' as v;

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    --MX-REGULAR: calc(18% - 3rem);
    --TITLE-SIZE: 3rem;
}
@media screen and (max-width: 521px) {
    :root {
        --MX-REGULAR: 1rem;
        --TITLE-SIZE: 2.5rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    color: v.$p-color;
    overflow-x: hidden;
}

h1 {
    font-size: var(--TITLE-SIZE);
    line-height: 1.25;
    color: v.$title-color;
    font-weight: 600;
}

h2 {
    font-size: v.$xl;
    line-height: 1.35;
    color: v.$h2-color;
    font-weight: 600;
}

h3 {
    font-size: v.$m;
    line-height: 1.35;
    color: v.$title-color;
    font-weight: 500;
    &.light {
        font-weight: 300;
    }
}

p {
    font-size: v.$regular;
    line-height: 1.6;
    &.light {
        font-weight: 200;
    }
}

a {
    text-decoration: none;
    color: v.$p-color;
    cursor: pointer;
}

img.logo {
    pointer-events: none;
    height: 24px;
}