// Background Colors
$bg-main: #F3F6FE;
$bg-2: #EFF1F8;
$bg-3: #E5E8F1;
// Text Colors
$primary-text-color: #FFAE4E;
$title-color: #333333;
$p-color: #746C65;
$h2-color: #45413C;
// Primary Elements
$primary-item: #C66B00;
$primary-hover: hsl(32, 54%, 47%);

// Sizes
$xs: .5rem;
$s: .75rem;
$regular: 1rem;
$m: 1.25rem;
$l: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 3.5rem;
// Border radius
$border-r-s: 4px;
$border-r-regular: 8px; 