@use "../../../sass/variables" as v;
@use "../../../sass/mixins" as m;

nav li.container {
    position: relative; 
    span {
        cursor: pointer;
    }
    ul.solutions-menu {
        position: absolute;
        padding-top: v.$s;
        transition: .2s;
        border-radius: 16px;
        list-style: none;
        width: max-content;
        z-index: 2;
        
        @include m.fade-animation(5px);
        li {
            background-color: v.$bg-3;
            padding: .5rem 1.5rem 0;
            &:last-child { padding-bottom: .5rem; border-radius: 0 0 4px 4px; }
            &:first-child { border-radius: 4px 4px 0 0;}
            a {
                transition: .1s; 
                &:hover {
                    transition: .2s;
                    color: v.$primary-hover;
                }
            }
        }
    }
}