@use "../../sass/variables" as v;
@use "../../sass/mixins" as m;

nav {
    position: sticky;
    top: 0;
    padding: v.$m var(--MX-REGULAR);
    background-color: v.$bg-main;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2.6px;
    
    .nav-container .nav-elements {
        list-style: none;
        display: flex;
        gap: 4vw;
        > li:not(.container) a {
            position: relative;
            &::after {
                transition: .1s;
                content: '';
                width: 0;
                height: 2px;
                bottom: -4px;
                left: 0;
                position: absolute;
            }
            &:hover {
                &::after {
                    transition: .2s;
                    width: 100%;
                    background-color: v.$primary-hover;
                }
            }
        }
    }

    @include m.respond-to(900px) {
        .nav-container {
            background-color: v.$bg-2;
            .drop-menu-button {
                .icon {
                    vertical-align: middle;
                }
            }
            .nav-elements {
                transition: .1s;
                margin-top: 1rem;
                position: absolute;
                right: 0;
                display: block;
                width: 100%;
                padding: 1rem var(--MX-REGULAR) 0;
                @include m.box-shadow();
                @include m.fade-animation(8px);

                > li {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}